# Import data

In [6]:
import pandas as pd

# Import all of them 
sales = pd.read_csv("data/sales_train.csv.gz", compression='gzip')
item_cat = pd.read_csv("data/item_categories.csv")
item = pd.read_csv("data/items.csv")
shops=pd.read_csv("data/shops.csv")
test=pd.read_csv("data/test.csv.gz", compression='gzip')

In [7]:
sales.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0